body{
    background-image: url(../images/television.png);
    background-size: cover;
     
}

#title, .card-title {
    font-family: 'Fascinate', cursive;

}
.text-center{
    margin-top: 7em;
    margin-left: 2em;
}

#btnStart{
    margin-top: 2em;
}